<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>q.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51462DAB1D8F7A3200331567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51462DBF1D8F7A3200331567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51462DCA1D8F7A3200331567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
